<div class="quiz">
  <!-- <h2>Special paper </h2> -->

  <% if (papers && papers.length > 0) { %>
      <h2>Special Paper <%= papers[0].specialPaper === 'sp1' ? 'One' : 'Two' %> </h2>
      <p>Test your knowledge with our special quiz. Answer the following questions to the best of your abilities.</p>

      <form action="/results/<%= papers[0].specialPaper === 'sp1' ? 'sp1' : 'sp2' %>" method="post">
          <div class="timer" id="timer">00:00</div>

          <h2>Instructions:</h2>
          <ol>
              <li>For each question, select the best answer choice.</li>
              <li>Click the "Submit" button at the end of the quiz to see your results.</li>
          </ol>

          <% papers.forEach((paper, index) => { %>
              <div class="quiz-container">
                  <div class="question">
                      <div class="question-number">Question <%= index + 1 %></div>
                      <img src="/uploads/sp1/<%=paper.question%>" alt="question" srcset="">
                      <div class="options ID<%=paper.id%>">
                          <span>A</span>
                          <input type="radio" name="ans<%=paper._id%>" value="A" id="" required>
                          <span>B</span>
                          <input type="radio" name="ans<%=paper._id%>" value="B" id="" required>
                          <span>C</span>
                          <input type="radio" name="ans<%=paper._id%>" value="C" id="" required>
                          <span>D</span>
                          <input type="radio" name="ans<%=paper._id%>" value="D" id="" required>
                      </div>
                  </div>
              </div>
              <hr>
          <% }) %>

          <div class="timerContainer">
          
          </div>
          <input type="submit" value="Submit Quiz" placeholder="Submit">
      </form>
  <% } else { %>
      <h1>No data available.</h1>
  <% } %>
</div>



 

     


<script>
  // Timer logic
  const timerElement = document.getElementById("timer");
  const timerContainer = document.querySelector(".timerContainer");
  let startTime;
  let intervalId;

  document.addEventListener("DOMContentLoaded", () => {
      const radioButtons = document.querySelectorAll('input[type="radio"]');
      radioButtons.forEach(radio => {
          radio.addEventListener("click", () => {
              if (!startTime) {
                  startTime = new Date();
                  startTimer();
              }
          });
      });
  });

  function startTimer() {
      intervalId = setInterval(updateTimer, 1000);
  }

  function updateTimer() {
      const currentTime = new Date();
      const timeDiff = currentTime - startTime;
      const minutes = Math.floor(timeDiff / (1000 * 60));
      const seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);
      timerElement.textContent = `${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;
      let currentTimer = `${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;

      timerContainer.innerHTML = `<input type="text" name="timerValue" id="timerValue" value="${currentTimer}" hidden> `
  }

  // timerValue.

  
</script>



  