
<div class="quiz">
      
        <div  class="modal-bg">
          <div class="resultModal" id="resultModal">
            <span class="close-button" id="closeButton">&times;</span>
            <h1>Results</h1>
            <hr>
            
            <div class="resultInner">
              <h3> scored: <%=grade%>/<%=total%></h3>
              <h3>time elapsed: <%=time%> </h3>
            </div>
            <hr>
            <div class="quizLinks">
              <a href="/sp1_quiz">special paper 1</a>
              <a href="/sp2_quiz">special paper 2</a>
            </div>
          </div>
        </div>
    
    
            <!--  -->
            <% results.forEach((paper, index) => { %>
                <div class="quiz-container">
                  <div class="question" >
                    <div class="question-number">Question <%= index + 1 %></div>
                    <img src="/uploads/sp1/<%=paper.question%>" alt="question" srcset="">
                    <div class="options ">
                        <input type="radio" name="ans<%=paper.question%>" value="A" id="" required disabled <%= paper.correctAnswer === 'A' ? 'checked' : '' %> class="<%= paper.isCorrect ? 'correct' : 'incorrect' %>">
                      <span>A</span>
                      <input type="radio" name="ans<%=paper.question%>" value="B" id="" required disabled <%= paper.correctAnswer === 'B' ? 'checked' : '' %> class="<%= paper.isCorrect ? 'correct' : 'incorrect' %>">
                      <span>B</span>
                      <input type="radio" name="ans<%=paper.question%>" value="C" id="" required disabled <%= paper.correctAnswer === 'C' ? 'checked' : '' %> class="<%= paper.isCorrect ? 'correct' : 'incorrect' %>">
                      <span>C</span>
                      <input type="radio" name="ans<%=paper.question%>" value="D" id="" required disabled <%= paper.correctAnswer === 'D' ? 'checked' : '' %> class="<%= paper.isCorrect ? 'correct' : 'incorrect' %>">
                      <span>D</span>
                    </div>
                  </div>
                </div>
                <hr>
            <% }) %>
    
                
        
    
         
    </div>
    
    
  
      
      <script>
        const modalBg = document.querySelector('.modal-bg');
        const resultModal = document.getElementById('resultModal');
        const closeButton = document.getElementById('closeButton');
      
        
        
        // Close the modal when the close button is clicked
        closeButton.addEventListener('click',()=>{
          modalBg.style.display = "none";
        });
      </script>
      